[submodule "apisonator"]
	path = apisonator
	url = https://github.com/3scale/apisonator
[submodule "porta"]
	path = porta
	url = https://github.com/3scale/porta
[submodule "s2i-openresty"]
	path = s2i-openresty
	url = https://github.com/3scale/s2i-openresty
